* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: auto;
  font-family: "Quicksand", sans-serif;
}
.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
}
